{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>
<body>
<div class="todo">
    {% for item in todo %}

        <div class="card text-white {{ item.priority.color}} mb-3" style="max-width: 22rem;">
            <div class="card-header">Выполнить до: {{ item.will_end }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ item.name }} <li class="{{ item.status.icon }}" title="{{ item.status }}"></li></h5>
                <p class="card-text">{{ item.description }}</p>
                <p class="card-text">Время старта: {{ item.created_at }}</p>
            </div>
        </div>

    {% endfor %}
</div>
</body>
</html>